<h1>Editing na imprensa</h1>

<%= render "form", na_imprensa: @na_imprensa %>

<br>

<div>
  <%= link_to "Show this na imprensa", @na_imprensa %> |
  <%= link_to "Back to na imprensas", na_imprensas_path %>
</div>
