<div id="<%= dom_id colega_tradutor %>">
  <p>
    <strong>Name:</strong>
    <%= colega_tradutor.name %>
  </p>

  <p>
    <strong>Url page:</strong>
    <%= colega_tradutor.url_page %>
  </p>

</div>
