<h1>Editing link externo</h1>

<%= render "form", link_externo: @link_externo %>

<br>

<div>
  <%= link_to "Show this link externo", @link_externo %> |
  <%= link_to "Back to link externos", link_externos_path %>
</div>
