.languages-icons {
  display: flex;
  justify-content: center;

  .row {
    display: flex;
    justify-content: space-around;

    .set-config-icon {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 150px;
      height: 150px;
    }

    .fr {
      background-image: url("https://imgs.search.brave.com/uIZd7NNM4Jjb2-lASSf8vbFTJHutaiN8Tuo5-_Sxfm0/rs:fit:640:480:1/g:ce/aHR0cDovL2ltZy5m/cmVlZmxhZ2ljb25z/LmNvbS90aHVtYi9n/bG9zc3lfcm91bmRf/aWNvbi9mcmFuY2Uv/ZnJhbmNlXzY0MC5w/bmc");

      transition: all 0.5s ease-in-out;
    }
    .fr:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
    .br {
      background-image: url("https://imgs.search.brave.com/xmwhSxZPcuzo2lMbntLDsmQVDS_CGGohvjxF_WtX7f8/rs:fit:640:480:1/g:ce/aHR0cDovL2ltZy5m/cmVlZmxhZ2ljb25z/LmNvbS90aHVtYi9n/bG9zc3lfcm91bmRf/aWNvbi9icmF6aWwv/YnJhemlsXzY0MC5w/bmc");
      transition: all 0.5s ease-in-out;
    }
    .br:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
    .en {
      background-image: url("https://imgs.search.brave.com/xGuH56EhRXRh4BfnR57X1dS63HyQsoCeagbBgxzZdpA/rs:fit:640:480:1/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZWZsYWdpY29u/cy5jb20vdGh1bWIv/Z2xvc3N5X3JvdW5k/X2ljb24vdW5pdGVk/X3N0YXRlc19vZl9h/bWVyaWNhL3VuaXRl/ZF9zdGF0ZXNfb2Zf/YW1lcmljYV82NDAu/cG5n");
      transition: all 0.5s ease-in-out;
    }
    .en:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
    .es {
      background-image: url("https://imgs.search.brave.com/c3x9OOJ948T2IYXbBJL1omFyxo2qo9R-Vw1K13k9Nnk/rs:fit:640:480:1/g:ce/aHR0cDovL2ltZy5m/cmVlZmxhZ2ljb25z/LmNvbS90aHVtYi9n/bG9zc3lfcm91bmRf/aWNvbi9zcGFpbi9z/cGFpbl82NDAucG5n");
      transition: all 0.5s ease-in-out;
    }
    .es:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
}
