.top-description-home{
    background-color: #000000;
    height: 60vh;

    .row{

        .colum-desc-control{
            height: 38.9vh;
            margin: 50px;

            .home-description{
                background-color: white;
                height: 17vh;
                padding: 20px;
                text-align: center;
                font-size: x-large;
                color: black;
            }

            .text-member{
                text-align: center;
                font-weight: bold;
                background-color: #fbdbbb;
                margin-top: 25px;
                padding: 20px;

                img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }

}
