.top-description-home {
  display: flex;
  justify-content: center;
  align-items: center;

  .row {
    .colum-desc-control {
      margin: 50px;
      padding: 10px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      box-shadow: 0px 5px 2px 0px #fbdbbb;
      background-color: #fbdbbb50;

      .home-description {
        padding: 17px;
        text-align: center;
        font-size: x-large;
        color: black;
        font-size: 21px;
      }
    }
  }
}

.translation-description-home {
  .row-translation {
    margin: 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 5px 2px 0px #fbdbbb;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    .lang-br {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    div {
      text-align: center;
    }
  }
}

.section-carousel-books {
  margin-top: 10vh;

  .my-books {
    background-image: url("https://i.postimg.cc/2SpScbSb/lineimar-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-show-jobs:hover,
.card-show-jobs-review:hover,
.card-show-edicao:hover {
  background-color: #fbdbbb48;
}

.card-show-edicao {
  padding: 0;

  img {
    width: 43%;
  }
}

.separate-footer {
  margin-top: 20vh;
}

.mini-fr {
  background-image: url(https://imgs.search.brave.com/uIZd7NNM4Jjb2-lASSf8vbFTJHutaiN8Tuo5-_Sxfm0/rs:fit:640:480:1/g:ce/aHR0cDovL2ltZy5m/cmVlZmxhZ2ljb25z/LmNvbS90aHVtYi9n/bG9zc3lfcm91bmRf/aWNvbi9mcmFuY2Uv/ZnJhbmNlXzY0MC5w/bmc);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.mini-br {
  background-image: url(https://imgs.search.brave.com/xmwhSxZPcuzo2lMbntLDsmQVDS_CGGohvjxF_WtX7f8/rs:fit:640:480:1/g:ce/aHR0cDovL2ltZy5m/cmVlZmxhZ2ljb25z/LmNvbS90aHVtYi9n/bG9zc3lfcm91bmRf/aWNvbi9icmF6aWwv/YnJhemlsXzY0MC5w/bmc);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.quemSouEu {
  font-size: 21px;
  font-style: italic;
  font-weight: bold;
}

/* SVG CSS */

.wave-top {
  position: fixed;
  margin-top: -14vh;
  z-index: 99;
  visibility: hidden;
}

/* SVG left */
.bg-svg {
  margin-top: -12.2vh;
  margin-left: -7vw;
}
/* .bg-svg::before{
  content: url("https://i.postimg.cc/rsJtK2jZ/svg-bg.png");
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 999;
} */
