<div class="container languages-icons mt-5">
  <div class="row w-100">
    <div class="col-sm-2 set-config-icon fr"></div>
    <div class="col-sm-2 set-config-icon br"></div>
    <div class="col-sm-2 set-config-icon en"></div>
    <div class="col-sm-2 set-config-icon es"></div>
  </div>
</div>
