<div class="container">
    <div class="row control-partners">
        <img src="https://static.wixstatic.com/media/df0a98_2e6518e663924dd2b0734f08a6c94983~mv2.jpg" alt="..." class="control-img-size">
        <img src="https://static.wixstatic.com/media/df0a98_3a96b614e9e849baa35c0afba48bbaa4~mv2.png" alt="..." class="control-img-size">
        <img src="https://static.wixstatic.com/media/df0a98_0e940d035456434f92e2781d16976f3a~mv2.jpg" alt="..." class="control-img-size">
        <img src="https://static.wixstatic.com/media/df0a98_ccf5821cbb7e4ae7b9510e094f7e06ba~mv2.jpg" alt="..." class="control-img-size">
        <img src="http://ekladata.com/1gw5Sx7L8Om7p8cnAHrbE2_e1rw.jpg" alt="..." class="control-img-size">
        <img src="https://www.geartranslations.com/images/media/logo/logo-gear-translations.svg" alt="..." class="control-img-size">
    </div>
</div>
