<p style="color: green"><%= notice %></p>

<h1>Parceiros</h1>

<div id="parceiros">
  <% @parceiros.each do |parceiro| %>
    <%= render parceiro %>
    <p>
      <%= link_to "Show this parceiro", parceiro %>
    </p>
  <% end %>
</div>

<%= link_to "New parceiro", new_parceiro_path %>
