.page-footer{
    background-color: #f8f9fa;
}

.footer-image{
    width: 332px;
    height: 110px;
    background-image: url(https://i.postimg.cc/8CCr3wxy/lineimar.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.social-control{
    a{

        i{
            font-size: 35px;
        }
    }
}
