<div id="<%= dom_id conversa_passada %>">
  <p>
    <strong>Title:</strong>
    <%= conversa_passada.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= conversa_passada.description %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= conversa_passada.created_by %>
  </p>

</div>
