<h1>Editing conversa passada</h1>

<%= render "form", conversa_passada: @conversa_passada %>

<br>

<div>
  <%= link_to "Show this conversa passada", @conversa_passada %> |
  <%= link_to "Back to conversa passadas", conversa_passadas_path %>
</div>
