//*= require_tree ./components

@import "bootstrap";
@import "font-awesome";
@import "../stylesheets/components/home/home.scss";
@import "../stylesheets/components/navbar/navbar.scss";



*{
    margin: 0;
    padding: 0;
    font-family: 'Welbaum';
}

.notice{
    background-color: #fbdbbbcb;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    background: #fbdbbb;
  }
