/* Initial form state */
.form-parceiros,
.form-imprensa,
.form-links,
.form-colegas,
.form-conversa,
.form {
    --col1: #fff;
    --col2: #252325;
    --col3: rgba(232, 213, 196, 0.9);
    --col4: #ffffff;
    --col5: #683363;
    --sh: rgba(80, 80, 80, 0.35);
    --rad: 4px;
    --radBig: 10px;
    border-radius: 0 0 var(--radBig) var(--radBig);
    box-shadow: 0 0 20px var(--sh);
    display: flex;
    flex-direction: column;
    gap: 1.5em 1em;
    padding: 1em;
    position: relative;
    max-width: 100%;
    max-height: 90px;
    overflow: hidden;
    background-color: #fbdbbb;
    z-index: 99999;
}

.form-parceiros::after,
.form-imprensa::after,
.form-links::after,
.form-colegas::after,
.form-conversa::after,
.form::after {
    content: '';
    backdrop-filter: blur(6px) grayscale(100%);
    background: linear-gradient(-180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .5) 70%, rgba(255, 255, 255, 0.3) 90%);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    z-index: 999;
    background-color: #fbdbbb;

}
.form-parceiros::after,
.form-parceiros::before,
.form-imprensa::after,
.form-imprensa::before,
.form-links::after,
.form-links::before,
.form-colegas::after,
.form-colegas::before
.form-conversa::after,
.form-conversa::before,
.form::after,
.form::before {
    border-radius: 0 0 var(--radBig) var(--radBig);
    pointer-events: none;
    transition: all .5s ease-out;
}

/* Form hover and focus */
.form-parceiros:hover,
.form-parceiros:focus-within,
.form-imprensa:hover,
.form-imprensa:focus-within,
.form-links:hover,
.form-links:focus-within,
.form-colegas:hover,
.form-colegas:focus-within,
.form-conversa:hover,
.form-conversa:focus-within,
.form:hover,
.form:focus-within {
    max-width: 100%;
    max-height: 450px;
    position: absolute;

    .form-controller{
        z-index: 999999;
    }
}

.form-parceiros:focus-within,
.form-imprensa:focus-within,
.form-links:focus-within,
.form-colegas:focus-within,
.form-conversa:focus-within,
.form:focus-within {
    overflow: initial;
}

.form-parceiros:hover::before,
.form-parceiros:hover::after,
.form-imprensa:hover::before,
.form-imprensa:hover::after,
.form-links:hover::before,
.form-links:hover::after,
.form-colegas:hover::before,
.form-colegas:hover::after,
.form-conversa:hover::before,
.form-conversa:hover::after,
.form:hover::before,
.form:hover::after {
    opacity: 0;
}

.form-parceiros:hover::after,
.form-imprensa:hover::after,
.form-links:hover::after,
.form-colegas:hover::after,
.form-conversa:hover::after,
.form:hover::after {
    backdrop-filter: blur(0) grayscale(0%);
}
.form-parceiros label,
.form-imprensa label,
.form-links label,
.form-colegas label,
.form-conversa label,
.form label {
    display: flex;
    flex-flow: row wrap;
    color: var(--col4);
    gap: .5em;
}

.form-parceiros fieldset label,
.form-imprensa fieldset label,
.form-links fieldset label,
.form-colegas fieldset label,
.form-conversa fieldset label,
.form fieldset label {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    font-size: .75em;
}

.sm {
    justify-content: space-around;
}

.sm span {
    text-align: center;
}

.form-parceiros select,
.form-imprensa select,
.form-links select,
.form-colegas select,
.form-conversa select,
.form select {
    box-shadow: inset 3px 3px 1px var(--sh);
    padding: .75em 1.75em .75em 0.5em;
    position: relative;
}

.form-parceiros fieldset span,
.form-imprensa fieldset span,
.form-links fieldset span,
.form-colegas fieldset span,
.form-conversa fieldset span,
.form fieldset span {
    flex: 1 100%;
}

.form-parceiros fieldset input,
.form-imprensa fieldset input,
.form-links fieldset input,
.form-colegas fieldset input,
.form-conversa fieldset input,
.form fieldset input {
    flex: 0 1 40px;
}

.form-parceiros button,
.form-imprensa button,
.form-links button,
.form-colegas button,
.form-conversa button,
.form button {
    background-color: var(--col1);
    color: var(--col4);
    border: 2px solid var(--col4);
    font-size: 1em;
    font-weight: 700;
    align-self: center;
    padding: .5em 1.5em;
    appearance: none;
}

/* Form and UI valid and invalid states */
.form-parceiros .message,
.form-imprensa .message,
.form-links .message,
.form-colegas .message,
.form-conversa .message,
.form .message {
    display: block;
    opacity: 0;
    font-size: .75em;
    font-weight: 400;
    transition: all .3s ease-out;
    margin: -1rem 0 0;
}

.form-parceiros:has(:invalid) .message,
.form-imprensa:has(:invalid) .message,
.form-links:has(:invalid) .message,
.form-colegas:has(:invalid) .message,
.form-conversa:has(:invalid) .message,
.form:has(:invalid) .message {
    opacity: 1;
    margin: .25rem 0 0 0;
}

label:has(input:invalid),
label:has(select:invalid) {
    color: var(--col3);
    opacity: .8;
}

label:has(input:valid),
label:has(select:valid) {
    opacity: 1;
}

.form-parceiros:hover:has(:focus, :active):valid .submitCard,
.form-imprensa:hover:has(:focus, :active):valid .submitCard,
.form-links:hover:has(:focus, :active):valid .submitCard,
.form-colegas:hover:has(:focus, :active):valid .submitCard,
.form-conversa:hover:has(:focus, :active):valid .submitCard,
.form:hover:has(:focus, :active):valid .submitCard {
    max-height: 180px;
    opacity: 1;
    transition: opacity 1s ease-out .5s, translate 1.3s ease-out;
    translate: 0 100%;
}

.form-parceiros:hover:invalid,
.form-imprensa:hover:invalid,
.form-links:hover:invalid,
.form-colegas:hover:invalid,
.form-conversa:hover:invalid,
.form:hover:invalid {
    transition: all .3s ease-out;
    background-color: var(--col5);
}

.form-parceiros:hover:valid,
.form-imprensa:hover:valid,
.form-links:hover:valid,
.form-colegas:hover:valid,
.form-conversa:hover:valid,
.form:hover:valid {
    transition: all .3s ease-out;
    background-color: var(--col1);
}

.form-parceiros:hover:valid *,
.form-imprensa:hover:valid *,
.form-links:hover:valid *,
.form-colegas:hover:valid *,
.form-conversa:hover:valid *,
.form:hover:valid * {
    color: var(--col2);
}

.form-parceiros:hover:invalid fieldset,
.form-imprensa:hover:invalid fieldset,
.form-links:hover:invalid fieldset,
.form-colegas:hover:invalid fieldset,
.form-conversa:hover:invalid fieldset,
.form:hover:invalid fieldset {
    border: 1px dashed var(--col3);
}

.form-parceiros:hover:valid fieldset,
.form-imprensa:hover:valid fieldset,
.form-links:hover:valid fieldset,
.form-colegas:hover:valid fieldset,
.form-conversa:hover:valid fieldset,
.form:hover:valid fieldset {
    border: 1px dashed var(--col2);
}


/* MY CODE  */

.form-controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}


/* Buttons top adm page */

.form::before {
    content: 'Criar novo Livro';
    color: var(--col2);
    font-size: 1.2em;
    font-weight: 700;
    display: grid;
    width: calc(100% - 2em);
    height: 60%;
    position: absolute;
    place-items: center;
    z-index: 99999;
}

.form-conversa::before {
    content: 'Criar nova conversa';
    color: var(--col2);
    font-size: 1.2em;
    font-weight: 700;
    display: grid;
    width: calc(100% - 2em);
    height: 60%;
    position: absolute;
    place-items: center;
    z-index: 99999;
}


.form-colegas::before{
    content: 'Criar colega tradutor';
    color: var(--col2);
    font-size: 1.2em;
    font-weight: 700;
    display: grid;
    width: calc(100% - 2em);
    height: 60%;
    position: absolute;
    place-items: center;
    z-index: 99999;
}


.form-links::before{
    content: 'Criar links externos';
    color: var(--col2);
    font-size: 1.2em;
    font-weight: 700;
    display: grid;
    width: calc(100% - 2em);
    height: 60%;
    position: absolute;
    place-items: center;
    z-index: 99999;
}

.form-imprensa::before{
    content: 'Criar na imprensa';
    color: var(--col2);
    font-size: 1.2em;
    font-weight: 700;
    display: grid;
    width: calc(100% - 2em);
    height: 60%;
    position: absolute;
    place-items: center;
    z-index: 99999;
}

.form-parceiros::before{
    content: 'Criar parceiros';
    color: var(--col2);
    font-size: 1.2em;
    font-weight: 700;
    display: grid;
    width: calc(100% - 2em);
    height: 60%;
    position: absolute;
    place-items: center;
    z-index: 99999;
}
