.adm-text-title {
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 14px;
}

.bookOverflow{
    max-height: 20vh;
    overflow-y: scroll;
}
