.control-partners{
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
}


.control-img-size{
    width: 125px;
    height: 65px;
}

.carousel-title{
    background-image: url("https://i.postimg.cc/2SpScbSb/lineimar-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 390px) {
    .control-partners{
        display: flex;
        justify-content: space-around;
    }
    .control-img-size{
        width: 90px;
        height: 75px;
        margin-top: 50px;
    }
}
