.form-input-material{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    .field {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        border-radius: 25px;
        padding: 0.6em;
        border: none;
        outline: none;
        color: white;
        background-color: #fbdbbb;
        box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0.5);

        .input-field {
            background: none;
            border: none;
            outline: none;
            width: 100%;
            color: #000000;
        }
    }

    input{
        background-color: #fbdbbb;
        padding: 0px 10px 0px 10px;
        text-transform: uppercase;
        font-weight: bold;
        outline: none;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    input:hover{
        background-color: #fbdbbbd2;
        padding: 0px 20px 0px 20px;
        transition: ease-in-out 0.5s;
        -webkit-transition: ease-in-out 0.5s;
        -moz-transition: ease-in-out 0.5s;
        -ms-transition: ease-in-out 0.5s;
        -o-transition: ease-in-out 0.5s;
}
}

